{% extends 'base.html.twig' %}

{% block title %}New EventProgram{% endblock %}

{% block body %}
    <h1>Create new EventProgram</h1>

    {{ include('event_program/_form.html.twig') }}

    <a href="{{ path('event_program_index') }}">back to list</a>
{% endblock %}
