{% extends 'base.html.twig' %}

{% block title %}Edit ParticipateEvent{% endblock %}

{% block body %}
    <h1>Edit ParticipateEvent</h1>

    {{ include('participate_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('participate_event_index') }}">back to list</a>

    {{ include('participate_event/_delete_form.html.twig') }}
{% endblock %}
