{% extends'Front_Office/Header-Footer.html.twig' %}

 {% block title %}
     New Event
 {% endblock %}


    {% block Content %}
        <br><br><br><br><br>
    <h1>Edit Events</h1>

    {{ include('events/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('events_index') }}">back to list</a>

    {{ include('events/_delete_form.html.twig') }}
{% endblock %}
